.hero-logo {
    width: 70vw;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    margin-bottom: 0;
    margin-top: -5rem;
}

.hero-buttons {
    text-align: center !important;
    margin-top: -3rem !important;
}

@media (max-width: 1000px) {
    .hero-logo {
        margin-top: -11rem !important;
    }

    .hero-buttons {
        margin-top: -5rem !important;
    }
}

@media (max-width: 850px) {
    .hero-logo {
        margin-top: -14rem !important;
    }
}

@media (max-width: 700px) {
    .hero-buttons {
        margin-top: -2rem !important;
    }
}

@media (max-width: 500px) {
    .hero-logo {
        margin-top: -10rem !important;
    }

    .hero-buttons {
        margin-top: -4rem !important;
    }
}